<ul class="navbar-nav mr-auto">
    <li class="nav-item" *ngIf="!service.isLogin">
        <button class="btn btn-dark btn-lg" routerLink="/login" routerLinkActive="active"> Login </button>
      </li>    
      
      <li class="nav-item" *ngIf="!service.isLogin">
        <button class="btn btn-dark btn-lg" routerLink="/register" routerLinkActive="active"> Register </button>
      </li> 
      <li class="nav-item" *ngIf="service.isLogin">
        <button class="btn btn-dark btn-lg" (click)="onLogout()"> Logout </button>
      </li> 
      <li class="nav-item" *ngIf="service.isLogin">
        <button class="btn btn-dark btn-lg" routerLink="/myAccount" routerLinkActive="active"> Hello, {{service.userName}}</button>
      </li>      
</ul>




