<div>
  <div class="ml-auto">
    <button data-toggle="tooltip" data-placement="left" title="Create new task" class="btn btn-success">
      <span data-toggle="modal" data-target="#myModal" class="text-white fa fa-plus">Create new task</span>
    </button>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Priority</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of taskList">
          <td [routerLink]="['/tasks', task.Id]">{{task.Name}}</td>
          <td>{{task.Description}}</td>
          <td>
            <div *ngIf="task.Priority === 0">
              <div class="bg-primary" style="width: 25px; height: 25px;">
              </div>
            </div>
            <div *ngIf="task.Priority === 1">
              <div class="bg-success" style="width: 25px; height: 25px;">
              </div>
            </div>
            <div *ngIf="task.Priority === 2">
              <div class="bg-warning" style="width: 25px; height: 25px;">
              </div>
            </div>
            <div *ngIf="task.Priority === 3">
              <div class="bg-danger" style="width: 25px; height: 25px;">
              </div>
            </div>
          </td>
          <td>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteTask(task.Id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create new task</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Name:</label>
          <input name="Name" #Name="ngModel" [(ngModel)]="newTaskName" class="form-control" required>
          <div class="validation-error" *ngIf="Name.invalid && Name.touched">This field is required</div>
        </div>
        <div class="form-group">
          <label>Description:</label>
          <input name="Description" #Description="ngModel" [(ngModel)]="newTaskDescription" class="form-control" required>
          <div class="validation-error" *ngIf="Description.invalid && Description.touched">This field is required</div>
        </div>
        <div class="form-group">
          <h4>Select priority</h4>
          <mat-form-field>
            <mat-select [(value)]="newTaskPriority" class="form-control">
              <mat-option [value]=0>Low</mat-option>
              <mat-option [value]=1>Middle</mat-option>
              <mat-option [value]=2>High</mat-option>
              <mat-option [value]=3>Ultra-High</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <h4>Select executor</h4>
          <mat-form-field>
            <mat-select [(value)]="newUserExecutorId">
              <mat-option *ngFor="let user of usersInProject" [value]=user.Id>{{user.UserName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>      
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        <button type="button" (click)="createTask(newTaskName, newTaskDescription, newTaskPriority)" class="btn btn-success" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>