<div *ngIf="isAvailable">
  <nav class="navbar navbar-expand-md">
    <div class="navbar-collapse">
      <h1 class="main-name">{{selectedProject.Name}}</h1>
    </div>
    <div class="nav justify-content-end">
      <button title="Edit project" class="btn btn-outline-info" (click)="openEditModal(selectedProject)" *ngIf="getRole() == 1">Edit project</button>
      <button title="Delete project" class="btn btn-outline-danger" (click)="deleteProject(selectedProject.Id)" style="margin-left:10px" *ngIf="getRole() == 1">Delete project</button>
    </div>
  </nav>
  <hr>
  <div class="flex-container">
    <div class="flex-item">
      <app-tasks [projectId]="selectedProject.Id" (chooseTaskEventEmitter)="onChooseTaskEvent($event)"></app-tasks>
    </div>
    <div class="flex-item-center">
      <ng-content *ngIf="currentTask; then TaskIsSelected; else TaskIsNotSelected"></ng-content>
    </div>
    <div class="flex-item">
      <app-users [projectId]="selectedProject.Id"></app-users>
    </div>
  </div>
</div>

<ng-template #TaskIsSelected>
  <app-task-details [selectedTask]="currentTask"></app-task-details>
</ng-template>

<ng-template #TaskIsNotSelected>
</ng-template>