<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of service.list">
      <td (click)="onSelect(task)">{{task.Name}}</td>
      <td>{{task.Description}}</td>
      <td>
        <button type="button" class="btn btn-sm btn-outline-primary" (click)="onUpdate(task)">Update</button>
      </td>
      <td>
        <button class="btn btn-sm btn-outline-danger" (click)="onDelete(task.Id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>



<button type="button" class="btn btn-lg btn-outline-primary my-2 my-sm-0" (click)="onCreate()">Create new task</button>
<ng-template [ngTemplateOutlet]="loadTemplate()">
  </ng-template>

<!--шаблон для редактирования-->
<ng-template #editTemplate>
<form #form="ngForm">
    <div>
      <h5></h5>
    </div>
    <div>
      <input type="hidden" name="Id" #Id="ngModel" [(ngModel)]="selectedTask.Id">
      <div class="form-group">
        <label>Name:</label>
        <input name="Name" #Name="ngModel" [(ngModel)]="selectedTask.Name" class="form-control" required>
        <div class="validation-error" *ngIf="Name.invalid && Name.touched">This field is required</div>
      </div>
      <div class="form-group">
        <label>Description:</label>
        <input name="Description" #Description="ngModel" [(ngModel)]="selectedTask.Description" class="form-control" required>
        <div class="validation-error" *ngIf="Description.invalid && Description.touched">This field is required</div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">Close</button>
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary" (click)="saveTask()">Submit</button>
    </div>
  </form>
</ng-template>