<div class="container">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">        
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <button class="btn btn-dark btn-lg" routerLink="/projects" routerLinkActive="active"> Projects <span class="sr-only">(current)</span></button>
          </li>
          <li class="nav-item">
            <button class="btn btn-dark btn-lg" routerLink="/tasks" routerLinkActive="active"> Tasks </button>
          </li>    
          <app-account></app-account>       
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
</header>  
<router-outlet></router-outlet>
</div>

