<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Tag</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let project of service.list" (click)="onSelect(project)">
      <td>{{project.Name}}</td>
      <td>{{project.Tag}}</td>
      <td>
        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"
          (click)="populateForm(project);">Update</button>
      </td>
      <td>
        <button class="btn btn-sm btn-outline-danger" (click)="onDelete(project.Id)">Delete</button>
      </td>       
    </tr>
  </tbody>
</table>

<app-project-info [project]="selectedProject"></app-project-info>

