<form #form="ngForm">
  <div class="container login-container">
    <div>
      <div class="col-md-6 ">
        <h3>Login</h3>
        <form>
          <div class="form-group">
            <input type="email" name="Email" #Email="ngModel" [(ngModel)]="newEmail" class="form-control" placeholder="Your Email *"
              value="" required>
            <div class="validation-error" *ngIf="Email.invalid && Email.touched">This field is required</div>
          </div>
          <div class="form-group">
            <input type="password" name="Password" #Password="ngModel" [(ngModel)]="newPassword" class="form-control" placeholder="Your password *"
              required>
            <div class="validation-error" *ngIf="Password.invalid && Password.touched">This field is required</div>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="form.invalid" class="btn btn-primary" (click)="signIn()">Login</button>
          </div>
          <div class="form-group">
            <a href="#" class="ForgetPwd">Forget Password?</a>
          </div>
        </form> 
      </div>
    </div>
  </div>
</form>